.play-with-us-section {
    padding: 4.4vh 0 6vh;
    background: url("../images/play-with-us-bg.jpg") no-repeat;
    background-size: cover;
    position: relative;
}

.play-with-us-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 1;
    position: relative;
}

.play-with-us-form__title {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    font-size: 5.8vh;
    color: #FFFFFF;
    text-shadow: 0 0 3.1vh rgba(255, 0, 184, 0.81);
    text-transform: uppercase;
    margin-bottom: 2vh;
}

.play-with-us-form__bonus {
    font-family: 'Jost';
    font-style: normal;
    font-weight: normal;
    font-size: 2.4vh;
    color: #FFFFFF;
    text-shadow: 0 0 1.2vh rgba(255, 0, 184, 0.81);
    margin-bottom: 2.6vh;
}

.form-checkbox {
    width: 100%;
    max-width: 40.5vh;
    margin-bottom: 1.9vh;
}

.form-checkbox__label {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 300;
    font-size: 1.8vh;
    line-height: 1.9vh;
    color: #BBBBBB;
    text-align: left;
}

.form-checkbox__input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.form-checkbox__input+label {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.form-checkbox__input+label::before {
    content: '';
    display: inline-block;
    width: 2.1vh;
    height: 2.1vh;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    border: 1px solid #BBBBBB;
    border-radius: 0.25em;
    margin-right: 8px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.form-checkbox__input:not(:disabled):not(:checked)+label:hover::before {
    border-color: #b3d7ff;
}

.form-checkbox__input:not(:disabled):active+label::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
}

.form-checkbox__input:focus+label::before {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-checkbox__input:focus:not(:checked)+label::before {
    border-color: #80bdff;
}

.form-checkbox__input:checked+label::before {
    border-color: #0b76ef;
    background-color: #0b76ef;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.form-checkbox__input:disabled+label::before {
    background-color: #e9ecef;
}

.form-field {
    width: 34.5vh;
    background: -o-linear-gradient(354.66deg, rgba(255, 255, 255, 0.3604) 31.13%, rgba(255, 255, 255, 0.1428) 91.62%);
    background: linear-gradient(95.34deg, rgba(255, 255, 255, 0.3604) 31.13%, rgba(255, 255, 255, 0.1428) 91.62%);
    -webkit-backdrop-filter: blur(5.76165px);
    backdrop-filter: blur(5.76165px);
    border-radius: 12px;
    padding: 0 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 1.5vh;
    height: 5vh;
}

.form-field__input{
    font-family: 'Jost';
    font-style: normal;
    line-height: 3.8vh;
    border: none;
    width: 90%;
    background: none;
    font-weight: 300;
    font-size: 2.2vh;
    color: #fff;
}

.form-field__input::-webkit-input-placeholder {
    color: #fff;
}
.form-field__input::-moz-placeholder {
    color: #fff;
}
.form-field__input:-ms-input-placeholder {
    color: #fff;
}
.form-field__input:-moz-placeholder {
    color: #fff;
}

.form-field__select {
    width: calc(90% + 3px);
}

.form-field__input option {
    color: #000;
}

.form-field__img__mob{
    display: none;
}

.form-field__img {
    width: auto;
}

.form-field__img__phone{
    height: 2vh;
}

.form-field__img__email{
    height: 1.7vh;
}

.form-field__img__password{
    height: 1.9vh;
}

.form-field__img__currency{
    height: 2vh;
}

.coins {
    width: auto;
    height: 14.5vh;
    position: absolute;
    top: -7.5vh;
    left: 48.2vh;
}

.play-with-us-section__img__l {
    width: auto;
    height: 40.6vh;
    position: absolute;
    bottom: 0;
    left: 40vh;
}

.play-with-us-section__img__r {
    width: auto;
    height: 47.7vh;
    position: absolute;
    bottom: 0;
    right: 33vh;
}

.play-with-us-section__img__r-mob {
    display: none;
}

@media only screen and (max-width: 160vh) and (orientation: landscape) {
    .coins {
        left: 40.2vh;
    }
    .play-with-us-section__img__l {
        left: 28vh;
    }
    .play-with-us-section__img__r {
        right: 28vh;
    }
}

@media only screen and (max-width: 150vh) and (orientation: landscape) {
    .play-with-us-section__img__r {
        right: 20vh;
    }
    .play-with-us-section__img__l {
        left: 17vh;
    }
    .coins {
        left: 34.2vh;
    }
}

@media only screen and (max-width: 135vh) and (orientation: landscape) {
    .play-with-us-section__img__r {
        right: 14vh;
    }
    .play-with-us-section__img__l {
        left: 15vh;
    }
    .coins {
        left: 28.2vh;
    }
}

@media only screen and (max-width: 135vh) and (orientation: landscape) {
    .play-with-us-section__img__r {
        right: 11vh;
    }
    .coins {
        left: 24.2vh;
    }
    .play-with-us-section__img__l {
        left: 11vh;
    }
}

@media only screen and (min-width: 768px) and (orientation: portrait) {
    .play-with-us-section {
        overflow: hidden;
    }
}

@media only screen and (min-width: 768px) and (orientation: portrait) {
    .play-with-us-section__img__r {
        right: -7vh;
    }
    .play-with-us-section__img__l {
        left: -1vh;
    }
    .coins {
        display: none;
    }
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
    .play-with-us-section {
        padding: 5vw 0 6.8vw;
        background: url(../images/play-with-us-bg-mob.jpg) no-repeat;
        background-size: cover;
        position: relative;
    }
    .play-with-us-form__title {
        font-size: 6.6vw;
        margin-bottom: 2.3vw;
    }
    .play-with-us-form__bonus {
        font-size: 2.6vw;
        margin-bottom: 4.7vw;
    }
    .form-checkbox__label {
        font-size: 2.6vw;
        line-height: 3.7vw;
    }
    .form-checkbox__input+label::before {
        width: 5.8vw;
        height: 5.8vw;
    }
    .form-checkbox {
        width: 100%;
        max-width: 46.7vw;
        margin-bottom: 3.4vw;
    }
    .form-field {
        width: 66.1vw;
        border-radius: 2.9vw;
        margin-bottom: 4.2vw;
        height: 10.51vw;
    }
    .form-field__input{
        line-height: 5.2vw;
        font-size: 3.6vw;
        color: #fff;
    }

    .form-field__input::-webkit-input-placeholder {
        color: #fff;
    }
    .form-field__input::-moz-placeholder {
        color: #fff;
    }
    .form-field__input:-ms-input-placeholder {
        color: #fff;
    }
    .form-field__input:-moz-placeholder {
        color: #fff;
    }
    .coins,
    .form-field__img {
        display: none;
    }
    .form-field__img__mob {
        display: inline-block;
    }
    .form-field__img__phone {
        height: 3.7vw;
    }
    .form-field__img__email {
        height: 2.6vw;
    }
    .form-field__img__currency {
        height: 5vw;
    }
    .form-field__img__password {
        height: 3.1vw;
    }
    .play-with-us-section__img__l {
        height: 65vw;
        bottom: 21.1vw;
        left: -4vw;
    }
    .play-with-us-section__img__r {
        height: 69.8vw;
        right: 0;
        bottom: 14vw;
        display: none;
    }
    .play-with-us-section__img__r-mob{
        display: inline-block;
    }
}